<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
</head>

<body>
  <h1>Add User</h1>
  <form action="/user/add/<%= id %>" method="post">
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age"><br>
    <label for="hobby">Hobby:</label><br>
    <input type="text" id="hobby" name="hobby"><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>