<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
  <a href="/user">
    User Details
  </a>
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
  <script>
    const xValues = <%- JSON.stringify(userIdData) %>;
    const yValues = <%- JSON.stringify(ageLabels) %>;
    const barColors = ["red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown"];
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {
          display: false
        },
        title: {
          display: true,
          text: "Age Users"
        }
      }
    });
  </script>
</body>

</html>